// Define variables for your color scheme

// For example:
$red: #c2483a;
$blue: #238995;
$pink: #decab0;
$black: #0E0000;

$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$new-red: #8c2f38ca;
$new-blue: #01254d
