
body {
  background:linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)),
    image-url("cover2.jpg");
  min-height: 100vh;
  background-size: cover;
  background-position: center;

}

.home-body {
  text-align: center;
  margin-top: 35px;
}

.home-split {
  display: flex;
  justify-content: space-between;
}

.favourite-generator {
  width: 47.5%;
  border-radius: 15px;
  background-color: $pink;
  padding: 10px;
  font-size: 15px;
  font-style: italic;
}

.background-col {
  background-color: $pink;
}
