
body {
  background-color: #dbdbdd;
}

.home-body {
  text-align: center;
  margin-top: 35px;
}

.home-split {
  display: flex;
}

.favourite-generator {
  width: 800px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 15px;
  background-color: #FCCBC8;
}

.background-col {
  background-color: $new-red;
}
