<hr>
<p style= "text-align: left;">Developed by : </p>

<div class="d-flex justify-content-around">
  <p>Lucas Renard</p>
  <p>Martin Cassan</p>
  <p>Mitia Blaise</p>
  <p>Saïf Harrag</p>
</div>

<p class="text-center font-italic">
  &copy; Project I.Am hungry, structured with rubyOnRails. Powered by AI, Enjoy your food !
</p>
