.btn-ghost {
  color: #1d1d1d;
  border: 1px solid #1d1d1d;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}
