.btn-ghost {
  color: #000000;
  border: 1px solid #1d1d1d;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  background-color: rgb(170, 169, 169);
}

.btn-ghost:hover {
  opacity: 1;
}

.logout-btn {
  color: white;
  border: none;
  background: none;
}

.button-perso {
  background-color: $blue;
  color: white;
  border-radius: 5px;
  height: 40px;
  &:hover {
    opacity: 1;
  }
}
.button-perso-secondary {
  color: $blue;
  background: none;
  border: 3px solid $blue;

  height: 40px;
  border-radius: 5px;
}
