.card-holder {
  width: 45%;
  margin-left: 20px;
  padding: 8px;
}

.card {
  margin-bottom: 8px;
  height: 80;
}

.img-block {
  position: relative;
  display: inline-block;
}

.delete-icon {
  position: absolute;
  top: 8px;                  /* distance depuis le haut */
  left: 8px;                 /* distance depuis la gauche */
  font-size: 24px;           /* taille de la croix */
  color: #fff;               /* couleur blanche */
  text-shadow: 0 0 4px rgba(0,0,0,0.6);  /* pour rendre visible sur photo */       /* pointeur clique */
  z-index: 10;
  text-decoration: none;
}

.card-scroll {
  height: 400px;                    /* prend tout l’espace vertical dispo */
  overflow-y: auto;           /* active la barre de défilement */
  padding: 8px;         /* petit espace pour le scroll */
  border: 2px;
  border-style: groove;
  border-color: black;
  margin-bottom: 30px;
  margin-top: 30px;
}

.card-product {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
}

.card-product-infos {
  padding: 8px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card-content-text {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-content-numbers {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-product img {
  height: 80px ;
  width: 80px ;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
.card-product h4 {
  font-size: 12px;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}
