footer {
  color: white;
  text-shadow: 0 0 15px rgba(0,0,0,0.2);
  font-size: 12px;
  font-style: italic;
  margin-top: 30px;
  p {
    margin: 0;
    padding: 0;
  }
  div {
    margin: 0;
    padding: 0;
  }
}
