.navbar-lewagon {
  justify-content: space-between;
  background: $red;
}

.navbar-brand, .nav-item {
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
